
.image_container {
    position: relative; /* Torna o contêiner o elemento de referência */
    width: 300px; /* Largura do contêiner */
    height: 200px; /* Altura do contêiner */
  }
  
  .background_img {
    width: 100%; /* Ajusta a imagem ao contêiner */
    height: 100%;
  }
  
  .overlay_img {
    position: absolute; /* Permite sobrepor a imagem */
    top: 220px; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o ponto de origem para o centro */
    width: 270px; /* Tamanho da imagem sobreposta */
    height: auto; /* Mantém a proporção */
  }

.titulo {
    font-family: 'Kite one';
    color: #E1383B;
    font-weight: bold;

    position: absolute; 
    top: 350px; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 30pt;
    height: auto; 
}

.box{
    padding: 35px;
    width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.342);

    position: absolute; 
    top: 59%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 30pt;
    height: auto; 
}

.boxh2 {
    font-family: 'Montserrat';
    font-size: 22pt;
    color: rgba(0, 0, 0, 0.699);
}

.boxp {
    font-family: 'Montserrat';
    font-size: 14pt;
    color: rgba(0, 0, 0, 0.699);
}

.boxp > span {
    color: #E1383B;
}


.menu {
    
    padding-top: 30px;
    display: flex;
    gap: 20px;
    font-family: 'Montserrat';
    font-size: 25px;
}

.menu_item {
    cursor: pointer;
    position: relative;
    color: black; 
}

.menu_item.active {
    color: red; 
}

.menu_item::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease; 
}

.menu_item.active::after {
    width: 100%; 
}

.boxpesquisa {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
}

.pesquisa {
    font-family: 'Montserrat';
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    height: 50px;
    width: 500px;
    font-size: 16pt;
}

.boxbtn {
    font-family: 'Montserrat';
    width: 170px;
    background-color: #E1383B;
    border-radius: 8px;
    
    color: white;
    font-size: 16pt;
}

.boxbtn:hover {
    background-color: #c5282a;
}

.SpaceQuiz {
    margin-top: 80px;
    padding: 10px;
}

.SpaceQuiz > h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

.division {
    display: flex;
    justify-content: space-around;
}

.division > div {
    width: 42vw;
}

.Text {
    text-align: center;
}

.Text > p > span {
    color: #c2171a;
}

.Text > p {
    font-size: 20pt;
    margin-bottom: 50px;
}

.buttonParaQuizz {
    background-color: #c5282a;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 9px;
    border: 1px solid;
    font-size: 15pt;
}

.buttonParaQuizz:hover {
    background-color: #c2171a;
    cursor: pointer;
}

.imgQuiz {
    height: 400px;
}

.marcas {
    font-family: 'Montserrat';
    font-size: 18pt;
    padding: 15px;
    color: rgba(0, 0, 0, 0.808);
    margin-top: 50px;
    background-color: white;
}

.carrosel {   
    width: 100%;
    height: 400px;
}

.cardarea {
    font-family: 'Montserrat';
    padding: 40px;
    background-color: #c5282a;
    background-image: url('./images/Home_Logim/flag.png');
    height: 370px;
}

.cardarea > h1 {
    color: white;
}

.cards {
    padding: 10px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faixabranca {
    width: 100%;
    height: 150px;
}


.Finalh1 {
    font-family: 'Montserrat';
    text-align: center;
    margin: 10px;
}

.FinalSection {
    background-color: #F4F4F4;
 
    height: 500px;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.CardCarPrices {
    border-radius: 5px;
    display: block;
    padding: 10px;
    background-color: #E1383B;
    width: 250px;
    height: 290px;
    cursor: pointer;
}

.CardCarPrices > p {
    font-family: 'Montserrat';
    padding: 5px;
    color: white;
    font-size: 22pt;
}

.CardCarPrices > img {
    width: 100%;
    height: 60%;
    object-fit: cover; /* ou 'contain' dependendo do efeito desejado */
    border-radius: 0 0 5px 5px; /* opcional: para combinar com os cantos da div */
}