.carousel {
    position: relative;
    width: 100%; /* Ajuste conforme necessário */
    overflow: hidden;
    border-radius: 10px;
    top: 20px;
    background-color: #fff;
  }
  
  .carouselTrackWrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .carouselTrack {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out; /* Animação suave de movimento */
  }
  
  .carouselImage {
    width: 15%; /* Divide a largura do carrossel igualmente entre as 5 imagens visíveis */
    flex-shrink: 0;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }
  
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .arrow:disabled {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
  }